body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f9fc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#divAll {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

h1 {
    font-size: 24px;
    color: #333333;
    margin-bottom: 20px;
}

label {
    font-size: 16px;
    color: #555555;
    display: block;
    margin-bottom: 10px;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    box-sizing: border-box;
}

button#rollBtn {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

button#rollBtn:hover {
    background-color: #45a049;
}

p#results {
    margin-top: 20px;
    font-size: 18px;
    color: #333333;
    font-weight: bold;
}

.images {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-left: 5px;
}